//comentario de linea
/*Comentario de bloque*/


//Imports
@import "animaciones";
/*Estilos generales*/
$color1:red;
$color2:rgb(238, 97, 97);
$gradiente1:#7f5a83;
$gradiente2: #0d324d;
*{
    margin: 0;
    padding:0;
    outline: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    color: white;
    font-family: sans-serif;
    background-color: $gradiente1;
    background-image: linear-gradient(315deg, $gradiente1 0%, &gradiente2 74%);


}
header{
    height: 15vh;
    padding: 10px;
    h1{
        margin: 10px 0;
        background-color:$color1 ; 
    }
}
nav{
    padding: 10px;
    p{        
        text-align: center;
        background-color:$color2 ;
        &:hover{
            color: $color1;
        }
    }
}
main{
    margin:40px;
    h2,h3,hr{
        margin: 10px 0;
    }
 
}

div{
    width: 100px;
    height: 100px;
    background-color: grey;
}


/*Gradiente*/

.gradiente1{
    background-image: linear-gradient(to left, red, yellow);
}
.gradiente2{
    background-image: radial-gradient(red 0%, yellow 30%, yellow 40%, red 40%);
}

/*Transiciones*/

.transiciones{
    transition: all 200ms;
    &:hover{
        width: 500px;
        height: 300px;
        border: black solid 10px;
        background-color: brown;
    }
}



